@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #f3b136;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #fff;
    width: 350px;
    height: 520px;
    border-radius: 24px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.63);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > article#imagem {
    display: block;
    background: #f3b136 url(../imagens/porta.jpg) no-repeat;
    height: 220px;
    background-size: cover;
    background-position: center center;
}

section#login > article#formulario {
    display: block;
    padding: 10px;
}

article#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div.campo {
    background-color: #f3b13667;
    border: 2px solid #f3b136;
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #f3b136;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

form > input[type=submit]:hover {
    background-color: #c5902c;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #f3b136;
    cursor: pointer;
    color: #f3b136;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #c5902c;
    border: none;
    color: #000;
}